{% extends 'base.html' %}

{% block content %}
  <h1>제품 리스트</h1>

  {% if products %}
    <table>
      <thead>
        <tr>
          <th>제품 코드</th>
          <th>제품명</th>
          <th>설명</th>
          <th>가격</th>
          <th>사이즈</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          <tr>
            <td>{{ product.code }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.get_size_display }}</td>
            <td>
              <a href="{% url 'product-update' product.pk %}">수정</a>
              <form action="{% url 'product-delete' product.pk %}" method="post">
                {% csrf_token %}
                <button type="submit">삭제</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>제품을 찾을 수 없음.</p>
  {% endif %}

  <p><a href="{% url 'product-create' %}">새로운 제품 등록하기</a></p>
{% endblock %}
